.table {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  table {
    border: 1px black solid;
    border-collapse: none;
    border-spacing: 0;
    font-size: .9em;
    tr:first-of-type {
      background-color: rgb(1, 52, 119);
      font-weight: 600;
      color: white;
    }
    tr:nth-of-type(even) {
      background-color: rgb(238, 238, 238)
    }
    tr {
      td {
        text-align: center;
        padding: 5px;
      }
    }
  }
}