@import 'src/styles/color-palettes.scss';
@import 'src/styles/color-function.scss';
@import 'src/styles/fonts.scss';

body {
  margin: 0;
  font-family: font('medium');
  box-sizing: border-box;
  overflow-y: scroll;
  padding: 0 !important;
  color: color('text', 'main');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .MuiCircularProgress-root {
    position: absolute;
    left: 48%;
    top: 48%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
